@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #038CF7;
    color: #FFF;
}

img
{
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 750px;
}

.wrapper
{
    display: grid;
    text-align: center;
    height: 100vh;
    grid-template-columns: 1fr .75fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas: 
    "title nav"
    "article1 article1"
    "article2 article2"
    "article3 article3"
    "article4 article4"
    "aside aside"
    "footer footer";
    grid-gap: 0.2rem;
}

.header
{
    grid-area: title;
}

.grid-article-5
{
    grid-area: article1;
}

.grid-article-3
{
    grid-area: article2;
}

.grid-article-2
{
    grid-area: article3;
}

.grid-article-1
{
    grid-area: article4;
}

.grid-pictures 
{
    grid-area: aside;
}

.grid-footer
{
    grid-area: footer;
}

.upcoming , .articletext
{
    line-height: 1.5em;
}
 .icon, .basenav, .grid-article-4, .grid-article-6
{
    display: none;
}


.basenav    
{
    background-color: #161CDA;
}

.basenav  a, ul
{
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
}

.basenav li
{
    text-indent: 32px;
    display: inline-block;
}

.header h1
{
    letter-spacing: 5px;
}

.hamburger-menu
{
    text-align: left;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-area: nav;
}

.hamburger-menu a
{
    text-decoration: none;
    color: #F55105;
}

.hamburger-menu ul
{
    opacity: 0;
    background-color: lightblue;
    border-radius: 25px;
    list-style: none;
    padding: 5px;
    padding-left: 20px;
}

.hamburger-menu span
{
    display: flex;
    position: relative;
    width: 15px;
    height: 2px;
    margin-bottom: 5px;
    background: white;
    z-index: 1;

}

.hamburger-menu input
{
    display: flex;
    width: 40px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.hamburger-menu input:checked ~ ul
{
    opacity: 1;
}

/* Footer information */
#copyright-info 
{
    font-family: 'Notable';
    text-transform: uppercase;
    color: #032FF7;
    word-spacing: 1.5em;
    text-align: left;
}

#cookie
{
    color: #FFF;
    text-transform: uppercase;
    background-color:  #FA0;
    opacity: .5;
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media print
{
    .body {
        color: device-cmyk(0 22% 83% 0%)
    }
}


@media only screen and (min-width: 600px)
{
    #hamburger-menu, #hiddenproduct
    {
        display: none;
    }
    
    .wrapper 
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 50px 200px 200px 200px 200px 200px 200px;
    }

    .icon {
        display: grid;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .basenav {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .grid-article-1 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .grid-article-3 {
        grid-row: 4/8;
        grid-column: 1/2;
    }

    .grid-article-2 {
        grid-row: 3/6;
        grid-column: 2/3;
    }

    .grid-article-5 {
        display: grid;
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .grid-article-6 {
        display: grid;
        grid-row: 6/7;
        grid-column: 1/3;
    }

    .grid-products {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }

    .product-image-1 {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .product-image-2 {
        grid-row: 7/8;
        grid-column: 2/3;         
    }

    .grid-footer {
        grid-row: 9/10;
        grid-column: 1/3;
    }


}

@media screen and (min-width: 1280px)
{


    #basenav
    {
        flex: 0 0 100%;
    }

}

