@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

@media screen and (min-width: 600px)
{
    #hamburger-menu
    {
        display: none;
    }
    
    #basenav
    {
        display: flex;
        flex: 0 0 100%;
    }

    .header > img
    {
        display: flex;
        order: 1;
        flex: 0 0 100%;
        max-height: 750px;
        max-width: 750px;
    }

    .form form, input, label
    {
        flex: 1 1 0px;
        width: 90%;
        padding: 10px;
        
    }

    .form fieldset
    {
        text-align: center;
        margin: auto;
        padding: 20px;
    }

    .products a
    {
        flex: 1 1 0px;
    }

    .products
    {
        max-width: 450px;
    }

    .tablet-flex 
    {
        display: flex;
        flex-direction: column;
        flex: 50%;
    }

    .footer
    {
        flex: 100%;
    }

}

@media screen and (min-width: 1280px)
{

}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #038CF7;
    color: #FFF;
}

img
{
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 750px;
}

.wrapper
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.header
{
    flex: 1;
    flex-wrap: nowrap;
}

.contactinformation
{
    order: 0;
    flex: 100%;
}

.form form
{
    display: flex;
    flex-direction: column;
}

.form label
{
    margin: 5px;
    text-align: left;
    width: 90%;
}

.form input 
{
    margin: 10px;
    text-align: left;
    width: 90%;
}

#formsubmit 
{
    text-align: center;
    background-color: lightseagreen;
    font-weight: bold;
    font-size: 2em;
}

.products
{
    order: 3;
}

.products img
{
    margin: 10px;
}

.footer
{
    order: 6;
}

.basenav    
{
    background-color: #161CDA;
}

.basenav  a, ul
{
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
}

.basenav li
{
    text-indent: 32px;
    display: inline-block;
}

.basenav, .icon 
{
    display: none;
}

.header h1
{
    letter-spacing: 5px;
}

.hamburger-menu
{
    text-align: left;
    flex: 1;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hamburger-menu a
{
    text-decoration: none;
    color: #F55105;
}

.hamburger-menu ul
{
    opacity: 0;
    background-color: lightblue;
    border-radius: 25px;
    list-style: none;
    padding: 5px;
    padding-left: 20px;
}

.hamburger-menu span
{
    display: flex;
    position: relative;
    width: 15px;
    height: 2px;
    margin-bottom: 5px;
    background: white;
    z-index: 1;

}

.hamburger-menu input
{
    display: flex;
    width: 40px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.hamburger-menu input:checked ~ ul
{
    opacity: 1;
}

/* Footer information */
#copyright-info 
{
    font-family: 'Notable';
    text-transform: uppercase;
    color: #032FF7;
    word-spacing: 1.5em;
    text-align: left;
}

#cookie
{
    color: #FFF;
    text-transform: uppercase;
    background-color:  #FA0;
    opacity: .5;
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media print
{
    .body {
        color: device-cmyk(0 22% 83% 0%)
    }
}

