@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

@media screen and (min-width: 600px)
{
    #hamburger-menu, #hiddenproduct {
        
        display: none;
    }
    
    #ticketarticle {

        display: flex;
        flex-direction: column;
        flex: 100%;
    }

    #basenav {

        display: flex;
        flex: 0 0 100%;
    }

    .header > img {

        display: flex;
        order: 1;
        flex: 0 0 100%;
        max-height: 750px;
        max-width: 750px;
    }

    .products {

        display: flex;
    }

    .product-container {

        flex: 1 1 0px;
        margin: 10px;
    }

    .footer {

        flex: 100%;
    }

}

@media screen and (min-width: 1280px)
{

    #basena {

        flex: 0 0 100%;
    }

    #hiddenproduct {

        display: flex;
        margin: 10px;
    }

    .table {

        flex: 1 1 0px;
        margin: auto;
        min-width: auto;
    }

    .products {

        flex-direction: column;
        flex: 1 1 0px;
        max-width: 450px;
    }

    .bigger-container {

        flex: 50%;
    }

}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #038CF7;
    color: #FFF;
}

img {

    width: 100%;
    height: auto;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.table {

    border: 3px solid black;
    background-color: lightslategray;
    margin: 5px;
}

.tablehead {

    background-color: darkgray;
}

.tablefooter {

    margin-top: 5px;
}

.header {

    flex: 1;
    flex-wrap: nowrap;
}

.footer {

    order: 5;
}


.icon, .basenav, .ticketarticle {

    display: none;
}

.basenav {

    background-color: #161CDA;
}

.basenav  a, ul {

    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
}

.basenav li {

    text-indent: 32px;
    display: inline-block;
}

.header h1 {

    letter-spacing: 5px;
}

.hamburger-menu {
    
    text-align: left;
    flex: 1;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hamburger-menu a {

    text-decoration: none;
    color: #F55105;
}

.hamburger-menu ul {

    opacity: 0;
    background-color: lightblue;
    border-radius: 25px;
    list-style: none;
    padding: 5px;
    padding-left: 20px;
}

.hamburger-menu span {

    display: flex;
    position: relative;
    width: 15px;
    height: 2px;
    margin-bottom: 5px;
    background: white;
    z-index: 1;

}

.hamburger-menu input {

    display: flex;
    width: 40px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.hamburger-menu input:checked ~ ul {

    opacity: 1;
}

/* Footer information */
#copyright-info {

    font-family: 'Notable';
    text-transform: uppercase;
    color: #032FF7;
    word-spacing: 1.5em;
    text-align: left;
}

#cookie {

    color: #FFF;
    text-transform: uppercase;
    background-color:  #FA0;
    opacity: .5;
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media print
{
    .body {
        color: device-cmyk(0 22% 83% 0%)
    }
}


